@model NeSHOP.Models.IteamModels

@{
    ViewBag.Title = "Stock Details";   
}


@section Scripts{
    <script type="text/javascript">

        $(function () {
            $("#SearchType[value=1]").attr("checked", true);
            $("#ChallanNo").focus();
           // $("#TranDateFrom").datepicker({ dateFormat: "yy-mm-dd" }).val();
           // $("#TranDateTo").datepicker({ dateFormat: "yy-mm-dd" }).val();
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '-3y',
                Default: true
            });

            $("#ChallanNo").keypress(function (event) {
                if (event.which == 13) {
                    var ordType = $("#ChallanNo").val();
                    if (ordType == '') alert("ChallanNo does not empty");
                    else {
                        $("#IteamSLNo").focus();
                    }
                    return false;
                }
            });

            //        $("#IteamSLNo").keypress(function (event) {
            //            if (event.which == 13) {
            //                var ordType = $("#IteamSLNo").val();
            //                if (ordType == '') alert("CatagoryCode does not empty");
            //                else {
            //                    $("#TranDateFrom").focus();
            //                }
            //                return false;
            //            }

            //        });

            $("#TranDateFrom").keypress(function (event) {
                if (event.which == 13 || event.which == 9) {
                    $("#TranDateTo").focus();
                    return false;
                }
            });
            $("#TranDateTo").keypress(function (event) {
                if (event.which == 13 || event.which == 9) {
                    $("#btn[value=Search]").focus();
                    return false;
                }
            });


            ///--------------------------------------------------


            /*$("#CatagoryCode").change(function () {
                var url = '<%= Url.Content("~/") %>' + "Inventory/JfuncProductList";
                var ddlsource = "#CatagoryCode";
                var ddltarget = "#ProductCode";
                $.getJSON(url, { Sel_StateName: $(ddlsource).val() }, function (data) {
                    $(ddltarget).empty();
                    $.each(data, function (index, optionData) {
                        $(ddltarget).append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                    });
                });
                $("#ProductCode").focus();
                return false;
            });

            $("#ProductCode").change(function () {
                var url = '<%= Url.Content("~/") %>' + "Inventory/JfuncVenList";
                var ddlsource = "#ProductCode";
                var ddltarget = "#VendorCode";
                $.getJSON(url, { Sel_StateName: $(ddlsource).val() }, function (data) {
                    $(ddltarget).empty();
                    $.each(data, function (index, optionData) {
                        $(ddltarget).append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                    });
                });
                $("#VendorCode").focus();
                return false;
            });*/

            $("#BrandCode").change(function () {
                var url = '@Url.Content("~/")' + "Inventory/JfuncModelList";
                var ddlsource = "#BrandCode";
                var ddltarget = "#ModelCode";
                $.getJSON(url, { Sel_StateName: $(ddlsource).val() }, function (data) {
                    $(ddltarget).empty();
                    $.each(data, function (index, optionData) {
                        $(ddltarget).append("<option value='" + optionData.Value + "'>" + optionData.Text + "</option>");
                    });
                });
                $("#ModelCode").focus();
                return false;
            });

            $("#ModelCode").change(function () {
                var ordType = $("#ModelCode").val();
                if (ordType == '') alert("ModelCode does not empty");
                else {
                    $("#btn[value=Search]").focus();
                }
                return false;

            });

            $("#btn[value=Search]").click(function (event) {
                var btnValue = $("#btn[value=Search]").val(); // "Save";
                answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
                if (answer != "0") {

                    return true;
                }
                else return false;

            });

            $("#btn[value=Preview]").click(function (event) {
                var btnValue = $("#btn[value=Preview]").val(); // "Save";
                var rType = $('input:radio[name=SearchType]:checked').val(); //$("#SearchType:checked").val(); // "Save";
                answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
                if (answer != "0") {
                    var qString = rType + '+' + $("#TranDateFrom").val() + '+' + $("#TranDateTo").val() + '+' + $("#BrandCode").val() + '+' + $("#ModelCode").val();
                    //alert(qString);
                    window.open('/Reports/Rpt_StockDetails/' + qString, 'Report', 'width=1000,height=600,resizeable,scrollbars');
                }
                return false;
            });

            $("#btn[value=Clear]").click(function (event) {
                var btnValue = $("#btn[value=Clear]").val(); // "Clear";
                answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
                if (answer != "0") {
                    return true;
                }
                else return false;

            });

            $("#btn[value=Exit]").click(function (event) {
                var btnValue = $("#btn[value=Exit]").val(); // "Exit";
                answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
                if (answer != "0") {
                    return true;
                }
                else return false;

            });


                        
            if ($("#SuccessStat").val() == "1") {
                $.alert("Stockin Successfull...!!", { withTime: true, type: 'success', title: 'Success:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "2") {
                $.alert("Stockin Fail...!!", { withTime: true, type: 'warning', title: 'Fail:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "3") {
                $.alert("Stockin Data Exception...!!", { withTime: true, type: 'info', title: 'Info:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }

        });

    </script> 
}
<form action="/Inventory/StockDetails" method="post">
    <div class="row container padding-top padding-bottom" style="width:95%">
        <div class="panel panel-responsive bg-gray-light  mt-1 pb-2 rounded-2">
            <div class="panel-heading bg-navy-active p-2 mt-0 rounded-2 text-center"> <h4>Inventory Details</h4> </div>
            <div class="panel-body">
                <div class="row p-1 mb-1">
                    <div class="col-md-4">Select Option:</div>
                    <div class="col-md-8">
                        <input type="radio" asp-for="SearchType" value="3" />Current Stock
                        <input type="radio" asp-for="SearchType" value="1" />Stock In
                        <input type="radio" asp-for="SearchType" value="2" />Stock Out
                        <input type="hidden" id="SuccessStat" value="@ViewData["SuccessStat"]" />
                    </div>
                </div>
                <hr />
                <div class="row mb-1">
                    <div class="col-md-4"><label asp-for="ChallanNo" class="control-label"></label></div>
                    <div class="col-md-8">
                        <input type="text" asp-for="ChallanNo" class="form-control w-50" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4"><label asp-for="BrandCode" class="control-label"></label></div>
                    <div class="col-8">
                        <select asp-for="BrandCode" class="form-select form-select-lg w-50" asp-items="@(new SelectList(Model.BrandList, "Value", "Text"))"> </select>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4"><label asp-for="ModelCode" class="control-label"></label></div>
                    <div class="col-8">
                        <select asp-for="ModelCode" class="form-select form-select-lg w-50" asp-items="@(new SelectList(Model.ModelList, "Value", "Text"))"> </select>
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-4"><label asp-for="TranDateFrom" class="control-label"></label></div>
                    <div class="col-8">
                        <input type="text" asp-for="TranDateFrom" class="datepicker form-control w-50" />
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-4"><label asp-for="TranDateTo" class="control-label"></label></div>
                    <div class="col-8"><input type="text" asp-for="TranDateTo" class="datepicker form-control w-50" /> </div>
                </div>
                <div class="row mb-2">
                    <div class="col-4"></div>
                    <div class="col-6 btn-group p-3" role="group">
                        <button type="submit" class="btn btn-primary btn-sm" id="btn" name="btn" value="Search">Search</button>
                        <button type="submit" class="btn btn-success btn-sm" id="btn" name="btn" value="Preview">Preview</button>
                        <button type="submit" class="btn btn-warning btn-sm" id="btn" name="btn" value="Export">Export(xls)</button>
                        <button type="submit" class="btn btn-info btn-sm" id="btn" name="btn" value="Clear">Clear</button>
                        <button type="submit" class="btn btn-danger btn-sm" id="btn" name="btn" value="Exit">Exit</button>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>

        <div class="panel panel-responsive bg-light mt-2 p-2 rounded-2">
            <div style="overflow-y: scroll; height:250px; position:relative;">
                <table class="listTable w-100">
                    <thead>
                        <tr class="bg-black-gradient h-100">
                            <td>SL #</td>
                            <td>Brand</td>
                            <td>Product Model</td>
                            <td>Stock</td>
                        </tr>
                    </thead>
                    <tbody id="tblList">
                        @if (Model.IteamList != null)
                        {
                            for (var i = 0; i < Model.IteamList.Count; i++)
                            {
                                <tr>
                                    <td style="border-top: 1px dotted;">@(Html.DisplayFor(m => m.IteamList[i].SLNo))</td>
                                    <td style="border-top: 1px dotted;">@(Html.DisplayFor(m => m.IteamList[i].VendorName))</td>
                                    <td style="border-top: 1px dotted;">@(Html.DisplayFor(m => m.IteamList[i].ModelName))</td>
                                    <td style="border-top: 1px dotted;">@(Html.DisplayFor(m => m.IteamList[i].TotalStock))</td>
                                </tr>
                            }

                        }
                    </tbody>
                    <tfoot>
                        <tr class="bg-black-gradient h-100">
                            <td>SL #</td>
                            <td>Brand</td>
                            <td>Product Model</td>
                            <td>Stock</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>

</form>
