@model NeSHOP.Models.AcTranModel

@{
    ViewData["Title"] = "Voucher Search";
}

@section Scripts{
<script type="text/javascript">

    $(function () {
        $("#SearchType[value=1]").attr("checked", true);
        $("#TranNo").focus();
        //$("#TranDateFrom").datepicker({ dateFormat: "yy-mm-dd" }).val();
        //$("#TranDateTo").datepicker({ dateFormat: "yy-mm-dd" }).val();
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '-3y',
                Default: true
            });


        $("#TranNo").keypress(function (event) {
            if (event.which == 13) {
                var ordType = $("#TranNo").val();
                if (ordType == '') alert("TranNo does not empty");
                else {
                    var rType = $("#SearchType:checked").val();
                    if (rType == 1)
                        $("#btn[value=Preview]").focus();
                    else
                        $("#CustomerCode").focus();
                }
                return false;
            }

        });

        $("#SearchType").change(function () {
            $("#TranNo").focus();
        });

        $("#CustomerCode").change(function () {
            var ordType = $("#CustomerCode").val();
            if (ordType == '') alert("CustomerCode does not empty");
            else {
                    var url = '@Url.Content("~/")' + "Account/JfuncModifyInvoiceList";
                var ddlsource = "#CustomerCode";
                var ddltarget = "#InvoiceNo";
                $.getJSON(url, { Sel_StateName: $(ddlsource).val() }, function (data) {
                    $(ddltarget).empty();
                    $.each(data, function (index, optionData) {
                        $(ddltarget).append("<option value='" + optionData.value + "'>" + optionData.text + "</option>");
                    });
                });

                $("#InvoiceNo").focus();
            }
            return false;
        });

        $("#InvoiceNo").keypress(function (event) {
            if (event.which == 13) {
                var ordType = $("#InvoiceNo").val();
                if (ordType == '') alert("InvoiceNo does not empty");
                else {
                    $("#TranDateFrom").focus();
                }
                return false;
            }

        });

        $("#TranDateFrom").keypress(function (event) {
            if (event.which == 13 || event.which == 9) {
                $("#TranDateTo").focus();
                return false;
            }
        });
        $("#TranDateTo").keypress(function (event) {
            if (event.which == 13 || event.which == 9) {
                $("#btn[value=Search]").focus();
                return false;
            }
        });


        ///--------------------------------------------------


        $("#btn[value=Search]").click(function (event) {
            var btnValue = $("#btn[value=Search]").val(); // "Save";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {

                return true;
            }
            else return false;

        });

        $("#btn[value=Preview]").click(function (event) {
            var btnValue = $("#btn[value=Preview]").val(); // "Save";
            var rType = $('input:radio[name=SearchType]:checked').val(); // "Save";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {
                if (rType != 1) {
                    var qString = rType + '+' + $("#TranNo").val() + '+' + $("#IsActive").val() + '+' + $("#TranDateFrom").val() + '+' + $("#TranDateTo").val() + '+' + $("#CustomerCode").val() + '+' + $("#InvoiceNo").val();
                    //alert(qString);
                    window.open('/Reports/Rpt_TransactionReport/' + qString, 'Report', 'width=1000,height=600,resizeable,scrollbars');
                }
                else {
                    var qString =$("#TranNo").val();
                    //alert(qString);
                    window.open('/Reports/Rpt_VoucherReport/' + qString, 'Report', 'width=1000,height=400,resizeable,scrollbars');
                }
            }
            return false;
        });
        $("#btn[value=Export]").click(function (e) {
            //$("#dialog-datalist").hide();
            window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=PrintDiv]').html()));
            e.preventDefault();
        });

        $("#btn[value=Clear]").click(function (event) {
            var btnValue = $("#btn[value=Clear]").val(); // "Clear";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {
                return true;
            }
            else return false;

        });

        $("#btn[value=Exit]").click(function (event) {
            var btnValue = $("#btn[value=Exit]").val(); // "Exit";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {
                return true;
            }
            else return false;

        });
            
            
            if ($("#SuccessStat").val() == "1") {
                $.alert("Execution Successfull...!!", { withTime: true, type: 'success', title: 'Success:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "2") {
                $.alert("Execution Fail...!!", { withTime: true, type: 'warning', title: 'Fail:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "3") {
                $.alert("Execution Data Exception...!!", { withTime: true, type: 'info', title: 'Info:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }


    });       
        
   </script> 
}



<form action="/Transaction/vouchersearch" method="post"> 
    <div class="row container padding-top padding-bottom" style="width:95%">
        <div class="panel panel-responsive bg-gray-light  mt-1 pb-2 rounded-2">
            <div class="panel-heading bg-navy-active p-2 mt-0 rounded-2 text-center">
                <h4>Bill Voucher Search</h4> 
            </div>
            <div class="panel-body">
                <div class="row p-1 pt-3 mb-1">
                    <div class="col-md-4"><label class="control-label">Seletct Preview Type :</label></div>
                    <div class="col-md-8">
                        <input type="radio" asp-for="SearchType" value="1"/>Voucher Print
                        <input type="radio" asp-for="SearchType" value="2"/>Receive Transaction
                        <input type="radio" asp-for="SearchType" value="3"/>Payment Transaction

                        <input type="hidden" id="SuccessStat" value="@ViewData["SuccessStat"]" />
                    </div>
                </div> 
                <hr/>
                <div class="row mb-2">
                    <div class="col-2"><label asp-for="TranNo" class="control-label"></label></div>
                    <div class="col-3"><input type="text" asp-for="TranNo" class="form-control w-100" /> </div>

                    <div class="col-2"><label asp-for="IsActive" class="control-label"></label></div>
                    <div class="col-3"><input type="checkbox" asp-for="IsActive"/> </div>
                </div>

                <div class="row mb-2">
                    <div class="col-2"><label asp-for="CustomerCode" class="control-label"></label></div>
                    <div class="col-3">
                         <select asp-for="CustomerCode" class="form-select form-select-lg w-100" asp-items="@(new SelectList(Model.CustomerList, "Value", "Text"))"> </select>
                    </div>

                    <div class="col-2"><label asp-for="InvoiceNo" class="control-label"></label></div>
                    <div class="col-3"><input type="text" asp-for="InvoiceNo" class="form-select form-select-lg w-100" /> </div>
                </div>

                <div class="row mb-2">
                    <div class="col-2"><label asp-for="CustomerCode" class="control-label"></label></div>
                    <div class="col-3">
                         <select asp-for="CustomerCode" class="form-select form-select-lg w-100" asp-items="@(new SelectList(Model.CustomerList, "Value", "Text"))"> </select>
                    </div>

                    <div class="col-2"><label asp-for="InvoiceNo" class="control-label"></label></div>
                    <div class="col-3">
                        <select asp-for="InvoiceNo" class="form-select form-select-lg w-100" asp-items="@(new SelectList(Model.InvoiceList, "Value", "Text"))"> </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-2"><label asp-for="TranDateFrom" class="control-label"></label></div>
                    <div class="col-3">
                         <input type="text" asp-for="TranDateFrom" class="datepicker form-control" />
                    </div>

                    <div class="col-2"><label asp-for="TranDateTo" class="control-label"></label></div>
                    <div class="col-3"><input type="text" asp-for="TranDateTo" class="datepicker form-control" /> </div>
                </div>

                
                <div class="row mb-2">
                    <div class="col-4"></div>
                    <div class="col-6 btn-group p-3" role="group">
                        <button type="submit" class="btn btn-primary btn-sm" id="btn" name="btn" value="Search">Search</button>
                        <button type="submit" class="btn btn-success btn-sm" id="btn" name="btn" value="Preview">Preview</button>
                        <button type="submit" class="btn btn-warning btn-sm" id="btn" name="btn" value="Export">Export(xls)</button>
                        <button type="submit" class="btn btn-info btn-sm" id="btn" name="btn" value="Clear">Clear</button>
                        <button type="submit" class="btn btn-danger btn-sm" id="btn" name="btn" value="Exit">Exit</button>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>

        <div class="panel panel-responsive bg-light mt-2 p-2 rounded-2">
            <div style="overflow-y: scroll; height:250px; position:relative;">
                <table class="listTable w-100">
                    <thead>
                        <tr class="bg-black-gradient h-100">
                            <td>Tran #</td>
                            <td>Invoice Date</td>
                            <td>Customer</td>
                            <td>Invoice#</td>       
                            <td>Receipt #</td>
                            <td>Tran Amount</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    <tbody id="tblList">  
                        @for (var i = 0; i < Model.AcTranList.Count; i++)
                                {
                                <tr>            
                                <td>@(Html.DisplayFor(m => m.AcTranList[i].TranNo))</td>
                                <td>@(Html.DisplayFor(m => m.AcTranList[i].TranDate)) </td>
                                <td>@(Html.DisplayFor(m => m.AcTranList[i].Customer)) </td>
                                <td>@(Html.DisplayFor(m => m.AcTranList[i].InvoiceNo)) </td>               
                                    <td>@(Html.DisplayFor(m => m.AcTranList[i].MoneyReceptNo)) </td>
                                    <td>@(Html.DisplayFor(m => m.AcTranList[i].TAmount)) </td>
                                    <td>@(Html.DisplayFor(m => m.AcTranList[i].Status)) </td>
                                </tr>         
                                }          
                        </tbody>         
                    <tfoot>
                        <tr class="bg-black-gradient h-100">
                            <td>Tran #</td>
                            <td>Invoice Date</td>
                            <td>Customer</td>
                            <td>Invoice#</td>       
                            <td>Receipt #</td>
                            <td>Tran Amount</td>
                            <td>Status</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</form>


